$color_black        : #333333;
$color_black_text   : #333333;
$color_grey         : #666666;
$color_grey_light   : #A2A2A2;
$color_light_dark   : #F2F2F2;
$color_light        : #EEEEEE;
$color_red          : #E11900;
$color_white        : #FFFFFF;