@import '../utils/variables';

.blog
{
  &_parent
  {
    margin: 22px 0;
    @include useContainer();
    @include flex(row, flex-start, center,true);
  }

  &_listContent
  {
    width: calc(((100% - 24px) / 12) * 8);

    @media screen and (max-width: $breakpoint_max_md) 
      {
        width: 100%;
      }
  }

  &_listCategory
  {
    width: calc(((100% - 24px) / 12) * 4);
    padding-left: 24px;

    @media screen and (max-width: $breakpoint_max_md) 
    {
      width: 100%;
      border-top: 1px solid $color_light;
      padding-top: 24px;
    }
  }

  &_itemCategory
  {
    display: none;
  }

  &_item
  {
    @include flex(row,stretch,flex-start);
    background-color: $color_light_low;
    padding: 16px 16px 0 16px;
    margin-bottom: 24px;
    border-radius: 2px;
    min-height: 104px;
}

  &_itemImage
  {
    @include fixedSize(42px);
    object-fit: cover;
  }

  &_itemContent
  {
    margin-left: 12px;
    padding-top: 0;
    padding-left: 0;
  }

  &_itemContent > div 
  {
    display: flex;
    flex-wrap: wrap;
  }

  &_itemTitle
  {
    width: 100%;
    color: $color_black;
    @include typographyBuilder(600, 16, 24);

    &:hover,
    &:active
    {
      text-decoration: none;
      color: $color_black;
    }
  }

  &_itemAuthor,
  &_itemInnerFooter
  {
    color: $color_grey_light_text;
    @include typographyBuilder(500, 10, 0);
  }

  &_itemInnerFooter
  {
    margin-left: 5px;
  }

  &_itemDescription
  {
    @include typographyBuilder(500, 12, 16);
    color: $color_grey_light_text;
    margin-top: 12px;
    text-align: justify;

    @media screen and (max-width: $breakpoint_max_md) 
    {
      margin-left: -54px;
    }
  }

  &_category
  {
    padding:0;
    list-style-type: none;
  }

  &_categoryItem > a 
  {
    text-decoration: none;
    color: $color_black_text;
    padding: 8px 0;
  }

  &_pagination
  {
    @include flex(row, center, center);
    list-style-type: none;
  }

  &_paginationItem
  {
    padding: 10px 15px;
    border: 1px solid $color_light;
    border-radius: 2px;
    margin-right: 8px;
    cursor: pointer;
  }

  &_paginationActive
  {
    background-color: $color_black;
    color: $color_white;
  }

  &_detailContent > img 
  {
    width: 100%;
  }

  &_recent
  {
    list-style-type: none;
    padding:0;
  }

  &_recentItem
  {
    border-bottom: 0.5px solid $color_light;
    padding: 12px 0;
  }

  &_recentItemContentTitle
  {
    text-decoration: none;
    color: $color_black_text;
    padding: 8px 0;

    &:hover,
    &:active
    {
      text-decoration: none;
      color: $color_black;
    }
  }

}