@import '../utils/variables';

.blog
{
  &_container
  {
    @include useContainer()
  }

  &_itemCategory
  {
    display: none;
  }

  &_item
  {
    @include flex(row,stretch,flex-start);
    background-color: $color_grey_button;
    padding: 16px 16px 0 16px;
    margin-bottom: 24px;
    border-radius: 2px;
    min-height: 104px;
}

  &_itemImage
  {
    width: 42px;
    height: 42px;
    object-fit: cover;
  }

  &_itemContent
  {
    margin-left: 12px;
    padding-top: 0;
    padding-left: 0;
  }

  &_itemContent > div 
  {
    display: flex;
    flex-wrap: wrap;
  }

  &_itemTitle
  {
    width: 100%;
    color: $color_black;
    font-size: 16px;
    font-weight: 600;
  }

  &_itemAuthor,
  &_itemInnerFooter
  {
    color: $color_grey_light_text;
    font-size: 10px;
  }

  &_itemInnerFooter
  {
    margin-left: 5px;
  }

  &_itemDescription
  {
    font-size: 12px;
    line-height: 16px;
    color: $color_grey_light_text;
    margin-left: -54px;
    margin-top: 12px;
    text-align: justify;
  }
}