@import '../utils/variables';

.cart
{
  &_container
  {
    @include useContainer();
    @include flex(row, flex-start, space-between, true);
    margin-bottom: 64px;
  }

  &_title
  {
    @include typographyBuilder(600, 20, 24);
    width: 100%;
    color: $color_black_text;
    margin-bottom: 22px;
  }

  &_detailsContainer,
  &_orderSummaryContainer
  {
    @media screen and (max-width: $breakpoint_max_md) 
    {
      width: 100% !important;
    }
  }

  &_detailsContainer
  {
    width: calc(((100% - 24px) / 12) * 8);    
  }

  &_orderSummaryContainer
  {
    width: calc(((100% - 24px) / 12) * 4);
    border: 1px solid red; //on progress
    height: 100%;
  }
}