@import '../utils/variables';

.lookBook
{
  &_container
  {
    @include useContainer();
  }

  &_title
  {
    @include typographyBuilder(600, 20, 24);
    @include useContainer();
    margin-bottom: 30px;
  }

  &_itemParent
  {
    @include flex(row, flex-start, flex-start, true);
    width: 100%;
  }

  &_item
  {
    width: calc(((100% - 48px) / 12) * 4);
    margin: 0 24px 30px 0;
    position: relative;

    @media screen and (max-width: $breakpoint_max_md) 
    {
      width: calc(((100% - 24px) / 12) * 6);

      &:nth-child(2n)
      {
        margin-right: 0;
      }
    }

    @media screen and (min-width: $breakpoint_max_md) 
    {
      &:nth-child(3n)
      {
        margin-right: 0;
      }
    }
  }
  
  &_itemImage
  {
    width: 100%;
  }

  &_label
  {
    color: $color_grey;
    @include typographyBuilder(400, 16, 24);
  }

  &_link
  {
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
  }

  &_imagePlaceholder
  {
    min-height: 150px;
  }
}

.lookBookDetail
{
  &_itemParent
  {
    @include flex(row, center, center, true);
    width: 100%;
  }

  &_imageDetail
  {
    width: calc(((100% - 48px) / 12) * 4);
    margin: 0 24px 24px 0;

    & > img 
    {
      width: 100%;
    }

    @media screen and (max-width: $breakpoint_max_md) 
    {
      width: 100%;
      margin-right: 0;
    }

    @media screen and (min-width: $breakpoint_max_md) 
    {
      &:nth-child(3n)
      {
        margin-right: 0;
      }
    }
  }

  &_shareParent
  {
    border-top: 1px solid $color_light;
    border-bottom: 1px solid $color_light;
    padding: 24px 0;
  }

  &_back
  {
    margin: 24px 0;
  }

  &_backParent
  {
    @include flex(row, center, flex-start, true);
    cursor: pointer;

    & > div > img 
    {
      margin-right: 16px;
    }
  }

}