@import '../utils/variables';

.shippingmethod
{
  &_shippingRadioDiv
  {
    @include flex(row, center, flex-start, true);
    border: 1px solid $color_light;
    padding: 14px 16px;
    cursor: pointer;

    &:not(:last-child)
    {
      margin-bottom: 12px;
    }

    &[class*="disabled"]
    {
      opacity: .5;
      pointer-events: none;
    }
  }

  &_shippingName
  {
    @include typographyBuilder(400, 16, 24);
    color: $color_black_text;
    margin: 0;
  }

  &_shippingNameDiv
  {
    width: 60%;
    margin: 0 auto 0 12px;
  }

  &_shippingPrice
  {
    @include typographyBuilder(400, 12, 16);
    color: $color_black_text;
    margin: 0;
  }

  &_divInput
  {
    @include flex(row, center, flex-start);
  }

  &_pinPointLocation
  {
    margin-top: 10px;
  }

  &_shippingErrorMsg
  {
    @include typographyBuilder(400, 12, 16);
    color: $color_red;
    margin: 0;
  }
}