@import '../utils/variables';

.tautan
{
  &_container
  {
    @include useContainer();

    @media screen and (min-width: #{$breakpoint_max_md})
    {
      @include flex(row, center, center);
    }
  
    div 
    {
      padding: 0 auto;
    }

    & > div > img
    {
      margin: 80px auto; 
      display: block;
    }

    & > div > div
    {
      @include typographyBuilder(400, 16, 24);
      text-align: center;
    }

    & > div > div:not(:nth-child(2))
    {
      @include flex(row, center, flex-end);
      flex-direction: row-reverse;
      border: 1px solid $color_light;
      margin-top: 12px;
      padding: 12px;

      p
      {
        margin: 0;
      }

      img
      {
        @include fixedSize(20px);
        margin-right: 16px;
      }
    }

    & > div > div:nth-child(3)
    {
      border: none;
      text-align: center;
      display: block;
      margin: 12px 0 12px 0;
      padding: 0;
    }

    & > div > div:nth-child(2)
    {
      @include typographyBuilder(600, 20, 24);
    }
    
  }
}