@import '../utils/variables';

.widget
{
  &_container
  {
    @media screen and (min-width: $breakpoint_min_md) 
    {
      @include flex(row, center, space-between);
    }
  }

  &_item
  {
    position: relative;

    &:first-child
    {
      h1, h2, h3, h4, h5, p
      {
        @include absolute(45%,0,0,57px);
      }
      width: calc(((100% - 12px) / 12) * 7);
      
      @media screen and (max-width: $breakpoint_max_md) 
      {
        margin-top: 58px;
        width: 100%;
      }
    }
    
    &:last-child
    {
      h1, h2, h3, h4, h5, p
      {
        @include absolute(50%, 0, 0, 50%);
        transform: translate(-50%, 0);
      }
      
      width: calc(((100% - 12px) / 12) * 5);
      
      @media screen and (max-width: $breakpoint_max_md) 
      {
        margin-top: 16px;
        width: 100%;
      }
    }
    
    h1, h2, h3, h4, h5, p
    {
      @include typographyBuilder(700, 28, 40);
      color: $color_white;
    }
    
    img
    {
      @include fixedWidth(100%);
      @include fixedHeight(431px);
      object-fit: cover;
    }
  }
}